In [3]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from math import pi
import geopandas
import folium
from folium.plugins import TimestampedGeoJson

plt.rcParams.update({'font.size': 16})
plt.rcParams.update({'figure.figsize': (16, 14)})

In [4]:
data_argentine_barn_swallows = pd.read_csv("https://raw.githubusercontent.com/chewbacca13/Visualisation-Project/main/Argentine%20Barn%20Swallows-tracks.csv")
data_argentine_barn_swallows.head()

,event-id,visible,timestamp,location-long,location-lat,location-error-text,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
0,2549644513,True,2014-01-09 23:34:59.000,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H974,H974,Argentine Barn Swallows
1,2549644514,True,2014-01-12 23:44:37.000,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H974,H974,Argentine Barn Swallows
2,2549644515,True,2014-01-14 23:52:44.000,-58.47,-38.25,-38.7:-58.47:-38.25:-58.27,solar-geolocator,Hirundo rustica,H974,H974,Argentine Barn Swallows
3,2549644516,True,2014-01-15 08:16:13.000,-58.47,-38.25,-38.7:-58.47:-38.25:-58.27,solar-geolocator,Hirundo rustica,H974,H974,Argentine Barn Swallows
4,2549644517,True,2014-01-15 23:46:40.000,-58.47,-38.25,-38.7:-58.47:-38.25:-58.27,solar-geolocator,Hirundo rustica,H974,H974,Argentine Barn Swallows

In [5]:
data_stork = pd.read_csv('data/Fall migration of white storks in 2014-gps.csv')
data_stork.head()

,event-id,visible,timestamp,location-long,location-lat,algorithm-marked-outlier,eobs:battery-voltage,eobs:fix-battery-voltage,eobs:horizontal-accuracy-estimate,eobs:key-bin-checksum,...,eobs:type-of-fix,eobs:used-time-to-get-fix,ground-speed,heading,height-above-ellipsoid,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
0,3973589512,True,2014-08-01 02:01:23.000,8.931490,47.751562,NaN,4033,4008.0,3.84,3.207013e+09,...,3.0,23.0,0.07,0.00,461.8,gps,Ciconia ciconia,3913.0,Balou / DER AN916 (eobs 3913),Fall migration of white storks in 2014
1,3971796332,True,2014-08-01 02:06:26.000,8.931501,47.751563,NaN,4030,4011.0,5.63,3.675634e+09,...,3.0,5.0,0.20,206.44,473.2,gps,Ciconia ciconia,3913.0,Balou / DER AN916 (eobs 3913),Fall migration of white storks in 2014
2,3972693144,True,2014-08-01 02:11:26.000,8.931525,47.751460,NaN,4033,4011.0,5.63,3.865400e+08,...,3.0,5.0,0.18,0.00,461.6,gps,Ciconia ciconia,3913.0,Balou / DER AN916 (eobs 3913),Fall migration of white storks in 2014
3,3976276588,True,2014-08-01 02:16:26.000,8.931497,47.751471,NaN,4033,4011.0,5.89,3.043786e+09,...,3.0,5.0,0.31,0.00,455.7,gps,Ciconia ciconia,3913.0,Balou / DER AN916 (eobs 3913),Fall migration of white storks in 2014
4,3973142287,True,2014-08-01 02:21:26.000,8.931478,47.751477,NaN,4033,4011.0,4.86,2.454382e+09,...,3.0,5.0,0.25,0.00,460.2,gps,Ciconia ciconia,3913.0,Balou / DER AN916 (eobs 3913),Fall migration of white storks in 2014

In [6]:
data_gulls = pd.read_csv('https://raw.githubusercontent.com/chewbacca13/Visualisation-Project/main/bird_tracking-gulls.csv')
data_gulls.head()

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419859,2.120733,0.150000,Eric
1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric

In [7]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
m = folium.Map()
cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))

In [8]:
colors = ['magenta', 'green', 'purple', 'black', 'blue', 'yellow', 'red', 'black', 'orange']

In [13]:
list_swallows = [x for _, x in data_argentine_barn_swallows.groupby(data_argentine_barn_swallows['individual-local-identifier'])]

for i, swallow in enumerate(list_swallows):
    folium.PolyLine(
        zip(swallow['location-lat'].dropna(), swallow['location-long'].dropna()),
        tooltip=swallow['individual-local-identifier'].iloc[0],
        color=colors[i]
    ).add_to(m)

In [22]:
list_storks = [x for _, x in data_stork.groupby(data_stork['individual-local-identifier'])]

for i, stork in enumerate(list_storks):
    folium.PolyLine(
        zip(stork['location-lat'].dropna(), stork['location-long'].dropna()),
        tooltip=stork['individual-local-identifier'].iloc[0],
        color='darkgreen'
    ).add_to(m)

In [23]:
list_gulls = [x for _, x in data_gulls.groupby(data_gulls['bird_name'])]

for i, gull in enumerate(list_gulls):
    folium.PolyLine(
        zip(gull['latitude'], gull['longitude']),
        tooltip=gull['bird_name'].iloc[0],
        color='blue'
    ).add_to(m)

In [70]:
folium.Marker([40.0001,32.4789],
              popup='<strong>My First Point</strong>',
              tooltip='First Point',
              icon=folium.Icon(color='purple',icon='leaf')).add_to(m)

folium.Marker([40.0001,32.4989],
              popup='<strong>My Second Point</strong>',
              tooltip='Second Point',
              icon=folium.Icon(color='beige',icon='leaf')).add_to(m)

In [18]:
m